<body style="background:#f4f9ff;">

<div class="container mt-5" style="max-width:650px;">
  <div class="card shadow p-4">
    <h3 class="text-center text-primary fw-bold mb-4">Update Task</h3>

    <form action="/update" method="POST">

      <label class="fw-semibold">Enter Task ID</label>
      <input type="number" name="id" class="form-control mb-3" required>

      <label class="fw-semibold">New Title</label>
      <input type="text" name="title" class="form-control mb-3">

      <label class="fw-semibold">New Description</label>
      <textarea name="description" class="form-control mb-3" rows="4"></textarea>

      <button class="btn btn-warning w-100 fw-semibold">Update Task</button>
    </form>

  </div>
</div>
</body>
